@model BCBS_Api.Models.Certificate
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Certificate</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/certificatestyle.css" rel="stylesheet" />
</head>
<body>
    <div id="cert_container">
        <div id="cert_title">Certificate of Completion</div>
        <div id="first_text"></div>
        <div id="User_name">Certificate not found.</div>
        
    </div>
</body>
</html>
