<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <title>Mailer</title>

    <style type="text/css">
        html, body {
            color: #000;
            font-family: "Roboto";
            font-size: 15px;
			margin:10px;
        }

        p {
            margin: 0px;
            padding: 0px;
        }	
    </style>




</head>
<body>

    <div style="margin-top:20px; font-size:16px;">
        Hi <span>@ManagerName,</span>
    </div>
	
	<div style="margin-top:40px;">
		Thank you for encouraging your team to <span style="color:#00adef;">use</span> the Blue Cross NC SCARF <span style="color:#00adef;">tool</span>. 
	</div>

	<div  style="margin-top:20px; line-height:22px;">
	Shown below are the responses that your direct report <span>Learner Name</span> has marked for each of the 5 SCARF <span  style="color:#00adef;">domains</span>. <span  style="color:#00adef;">Please</span> review these results and schedule a meaningful conversation with <span>Learner Name</span> to discuss their responses; <span style="color:#00adef;">a short guide to using SCARF in meaningful conversation is found</span> <a href="#" style="color:#038dc1;">here</a>.
	</div>
    
	<div style="margin-top:40px; line-height:22px; font-size:16px;">Thanks,</div>
	<div>People Strategies, Blue Cross NC</div>


</body>
</html>